{:process 3978, :type :invoke, :f :write, :value 2}
{:process 3978, :type :ok, :f :write, :value 2}
{:process 7800, :type :invoke, :f :read, :value nil}
{:process 7800, :type :ok, :f :read, :value 2}
{:process 2535, :type :invoke, :f :write, :value 3}
{:process 2535, :type :ok, :f :write, :value 3}
{:process 7751, :type :invoke, :f :write, :value 4}
{:process 7751, :type :ok, :f :write, :value 4}
{:process 4012, :type :invoke, :f :read, :value nil}
{:process 4012, :type :ok, :f :read, :value 4}
{:process 1133, :type :invoke, :f :read, :value nil}
{:process 1133, :type :ok, :f :read, :value 4}
{:process 2551, :type :invoke, :f :read, :value nil}
{:process 2551, :type :ok, :f :read, :value 4}
{:process 7354, :type :invoke, :f :read, :value nil}
{:process 7354, :type :ok, :f :read, :value 4}
{:process 7779, :type :invoke, :f :read, :value nil}
{:process 7779, :type :ok, :f :read, :value 4}
{:process 341, :type :invoke, :f :cas, :value [3,4]}
{:process 341, :type :fail, :f :cas, :value [3,4]}
{:process 6795, :type :invoke, :f :read, :value nil}
{:process 6795, :type :ok, :f :read, :value 4}
{:process 3210, :type :invoke, :f :read, :value nil}
{:process 3210, :type :ok, :f :read, :value 4}
{:process 4486, :type :invoke, :f :cas, :value [2,4]}
{:process 4486, :type :fail, :f :cas, :value [2,4]}
{:process 8672, :type :invoke, :f :write, :value 5}
{:process 8672, :type :ok, :f :write, :value 5}
{:process 6561, :type :invoke, :f :write, :value 4}
{:process 6561, :type :ok, :f :write, :value 4}
{:process 4972, :type :invoke, :f :read, :value nil}
{:process 4972, :type :ok, :f :read, :value 4}
{:process 7208, :type :invoke, :f :read, :value nil}
{:process 7208, :type :ok, :f :read, :value 4}
{:process 1286, :type :invoke, :f :read, :value nil}
{:process 1286, :type :ok, :f :read, :value 4}
{:process 8376, :type :invoke, :f :read, :value nil}
{:process 8376, :type :ok, :f :read, :value 4}
{:process 2746, :type :invoke, :f :read, :value nil}
{:process 2746, :type :ok, :f :read, :value 4}
{:process 184, :type :invoke, :f :write, :value 2}
{:process 184, :type :ok, :f :write, :value 2}
{:process 364, :type :invoke, :f :cas, :value [2,4]}
{:process 364, :type :ok, :f :cas, :value [2,4]}
{:process 5802, :type :invoke, :f :read, :value nil}
{:process 5802, :type :ok, :f :read, :value 4}
{:process 7429, :type :invoke, :f :write, :value 4}
{:process 7429, :type :ok, :f :write, :value 4}
{:process 4482, :type :invoke, :f :read, :value nil}
{:process 4482, :type :ok, :f :read, :value 4}
{:process 7692, :type :invoke, :f :read, :value nil}
{:process 7692, :type :ok, :f :read, :value 4}
{:process 8770, :type :invoke, :f :write, :value 2}
{:process 8770, :type :ok, :f :write, :value 2}
{:process 177, :type :invoke, :f :write, :value 2}
{:process 177, :type :ok, :f :write, :value 2}
{:process 573, :type :invoke, :f :cas, :value [4,2]}
{:process 573, :type :fail, :f :cas, :value [4,2]}
{:process 5860, :type :invoke, :f :cas, :value [5,3]}
{:process 5860, :type :fail, :f :cas, :value [5,3]}
{:process 7871, :type :invoke, :f :cas, :value [4,3]}
{:process 7871, :type :fail, :f :cas, :value [4,3]}
{:process 6771, :type :invoke, :f :cas, :value [5,5]}
{:process 6771, :type :info, :f :cas, :value nil}
{:process 2389, :type :invoke, :f :write, :value 5}
{:process 2389, :type :ok, :f :write, :value 5}
{:process 2269, :type :invoke, :f :cas, :value [4,3]}
{:process 2269, :type :fail, :f :cas, :value [4,3]}
{:process 2760, :type :invoke, :f :write, :value 3}
{:process 2760, :type :info, :f :write, :value nil}
{:process 9832, :type :invoke, :f :read, :value nil}
{:process 9832, :type :ok, :f :read, :value 5}
{:process 3535, :type :invoke, :f :cas, :value [1,3]}
{:process 3535, :type :fail, :f :cas, :value [1,3]}
{:process 2594, :type :invoke, :f :read, :value nil}
{:process 2594, :type :info, :f :read, :value nil}
{:process 4599, :type :invoke, :f :read, :value nil}
{:process 4599, :type :info, :f :read, :value nil}
{:process 8900, :type :invoke, :f :cas, :value [5,3]}
{:process 8900, :type :ok, :f :cas, :value [5,3]}
{:process 3776, :type :invoke, :f :write, :value 5}
{:process 3776, :type :ok, :f :write, :value 5}
{:process 9814, :type :invoke, :f :write, :value 4}
{:process 9814, :type :info, :f :write, :value nil}
{:process 4681, :type :invoke, :f :read, :value nil}
{:process 4681, :type :ok, :f :read, :value 5}
{:process 326, :type :invoke, :f :write, :value 4}
{:process 326, :type :ok, :f :write, :value 4}
{:process 924, :type :invoke, :f :cas, :value [2,2]}
{:process 924, :type :fail, :f :cas, :value [2,2]}
{:process 5326, :type :invoke, :f :read, :value nil}
{:process 5326, :type :info, :f :read, :value nil}
{:process 2079, :type :invoke, :f :cas, :value [1,3]}
{:process 2079, :type :fail, :f :cas, :value [1,3]}
{:process 9322, :type :invoke, :f :write, :value 4}
{:process 9322, :type :ok, :f :write, :value 4}
{:process 5968, :type :invoke, :f :cas, :value [2,1]}
{:process 5968, :type :fail, :f :cas, :value [2,1]}
{:process 186, :type :invoke, :f :read, :value nil}
{:process 186, :type :info, :f :read, :value nil}
{:process 8286, :type :invoke, :f :read, :value nil}
{:process 8286, :type :ok, :f :read, :value 4}
{:process 2948, :type :invoke, :f :read, :value nil}
{:process 2948, :type :ok, :f :read, :value 4}
{:process 7624, :type :invoke, :f :read, :value nil}
{:process 7624, :type :ok, :f :read, :value 4}
{:process 4717, :type :invoke, :f :read, :value nil}
{:process 4717, :type :info, :f :read, :value nil}
{:process 4731, :type :invoke, :f :write, :value 4}
{:process 4731, :type :ok, :f :write, :value 4}
{:process 776, :type :invoke, :f :write, :value 2}
{:process 776, :type :ok, :f :write, :value 2}
{:process 6583, :type :invoke, :f :write, :value 2}
{:process 6583, :type :ok, :f :write, :value 2}
{:process 2113, :type :invoke, :f :read, :value nil}
{:process 2113, :type :ok, :f :read, :value 2}
{:process 623, :type :invoke, :f :write, :value 5}
{:process 623, :type :ok, :f :write, :value 5}
{:process 815, :type :invoke, :f :write, :value 4}
{:process 815, :type :info, :f :write, :value nil}
{:process 859, :type :invoke, :f :write, :value 2}
{:process 859, :type :ok, :f :write, :value 2}
{:process 2556, :type :invoke, :f :read, :value nil}
{:process 2556, :type :ok, :f :read, :value 2}
{:process 3636, :type :invoke, :f :read, :value nil}
{:process 3636, :type :info, :f :read, :value nil}
{:process 5170, :type :invoke, :f :cas, :value [5,2]}
{:process 5170, :type :fail, :f :cas, :value [5,2]}
{:process 2613, :type :invoke, :f :write, :value 4}
{:process 2613, :type :ok, :f :write, :value 4}
{:process 7704, :type :invoke, :f :cas, :value [5,4]}
{:process 7704, :type :fail, :f :cas, :value [5,4]}
{:process 7324, :type :invoke, :f :cas, :value [4,1]}
{:process 7324, :type :ok, :f :cas, :value [4,1]}
{:process 6975, :type :invoke, :f :cas, :value [3,4]}
{:process 6975, :type :fail, :f :cas, :value [3,4]}
{:process 123, :type :invoke, :f :write, :value 3}
{:process 123, :type :ok, :f :write, :value 3}
{:process 9344, :type :invoke, :f :write, :value 1}
{:process 9344, :type :ok, :f :write, :value 1}
{:process 850, :type :invoke, :f :read, :value nil}
{:process 850, :type :ok, :f :read, :value 1}
{:process 7087, :type :invoke, :f :write, :value 3}
{:process 7087, :type :ok, :f :write, :value 3}
{:process 2054, :type :invoke, :f :read, :value nil}
{:process 2054, :type :ok, :f :read, :value 3}
{:process 7140, :type :invoke, :f :write, :value 4}
{:process 7140, :type :ok, :f :write, :value 4}
{:process 9851, :type :invoke, :f :write, :value 3}
{:process 9851, :type :ok, :f :write, :value 3}
{:process 6049, :type :invoke, :f :cas, :value [2,1]}
{:process 6049, :type :fail, :f :cas, :value [2,1]}
{:process 5080, :type :invoke, :f :cas, :value [5,2]}
{:process 5080, :type :fail, :f :cas, :value [5,2]}
{:process 8361, :type :invoke, :f :cas, :value [4,5]}
{:process 8361, :type :fail, :f :cas, :value [4,5]}
{:process 1256, :type :invoke, :f :cas, :value [4,4]}
{:process 1256, :type :fail, :f :cas, :value [4,4]}
{:process 318, :type :invoke, :f :read, :value nil}
{:process 318, :type :ok, :f :read, :value 3}
{:process 1945, :type :invoke, :f :cas, :value [5,4]}
{:process 1945, :type :fail, :f :cas, :value [5,4]}
{:process 9839, :type :invoke, :f :write, :value 1}
{:process 9839, :type :ok, :f :write, :value 1}
{:process 132, :type :invoke, :f :read, :value nil}
{:process 132, :type :ok, :f :read, :value 1}
{:process 7122, :type :invoke, :f :write, :value 5}
{:process 7122, :type :ok, :f :write, :value 5}
{:process 8280, :type :invoke, :f :read, :value nil}
{:process 8280, :type :ok, :f :read, :value 5}
{:process 2252, :type :invoke, :f :read, :value nil}
{:process 2252, :type :ok, :f :read, :value 5}
{:process 8811, :type :invoke, :f :write, :value 3}
{:process 8811, :type :ok, :f :write, :value 3}
{:process 7326, :type :invoke, :f :cas, :value [1,5]}
{:process 7326, :type :fail, :f :cas, :value [1,5]}
{:process 5395, :type :invoke, :f :write, :value 4}
{:process 5395, :type :ok, :f :write, :value 4}
{:process 4081, :type :invoke, :f :read, :value nil}
{:process 4081, :type :ok, :f :read, :value 4}
{:process 2253, :type :invoke, :f :cas, :value [5,4]}
{:process 2253, :type :fail, :f :cas, :value [5,4]}
